<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; flex-direction: column; padding-top: 30px">
      <div style="display: flex; flex-direction: row;">
        <div style="padding-right: 10px">
          <button type="button" class="btn btn-primary" onclick="editUser()">Editar Usuario</button>
        </div>
        <div style="padding-right: 10px">
          <button type="button" class="btn btn-primary" onclick="historico()">Historico</button>
        </div>
        <div style="padding-right: 10px">
          <button type="button" class="btn btn-primary" onclick="admin()">Admin</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" onclick="sair()">Sair</button>
        </div>
      </div>
      <hr>
      <div>
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; padding-top: 10px">
          <form action="/dificil" method="post">
            <div style="display: flex; justify-content: space-around; width: 100%">
              <p style="font-size: 30px">Insira o resultado</p>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: row; padding-top: 30px">
              <div class="form-outline mb-4" style="width: 100px;">
                <span class="form-label">{{valor1}} + {{valor2}}</span>
                <input style="display: none" type="valor1" id="valor1" name="valor1" class="form-control" value={{valor1}} />
                <input style="display: none" type="valor2" id="valor2" name="valor2" class="form-control" value={{valor2}} />
              </div>
              <div class="form-outline mb-4" style="width: 100px;">
                <label class="form-label" for=senha">Resultado</label>
                <input id="resultado" name="resultado" class="form-control"/>
              </div>
            </div>
            <div style="display: flex; justify-content: space-around; width: 100%">
              <button type="submit" class="btn btn-primary btn-block mb-4">Tentar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
      function editUser() {
        window.location.href = "editarUsuario";
      }

      function historico() {
        window.location.href = "historico";
      }

      function admin() {
        window.location.href = "admin";
      }

      function sair() {
        window.location.href = "login";
      }

      function facil() {
        window.location.href = "facil";
      }

      function dificil() {
        window.location.href = "dificil";
      }
    </script> 
  </body>
</html>